<li class="list-group-item bg-transparent" style="color: white;"><strong>@Author</strong>: @Message</li>

@code {
    [Parameter]
    public string Author { get; set; }
    [Parameter]
    public string Message { get; set; }
}